In [3]:
tup=(1,2,3)
tup

(1, 2, 3)

In [6]:
list_1=[1,2,3]
type(tuple(list_1))

tuple

In [7]:
nested_tuple=([1,2,3],[1,3])
nested_tuple

([1, 2, 3], [1, 3])

In [11]:
nested_tuple[0]

[1, 2, 3]

In [10]:
nested_tuple[1]

[1, 3]

In [15]:
nested_tuple[0].append(4)
nested_tuple

([1, 2, 3, 4, 4, 4, 4], [1, 3])

In [17]:
(1,2,3)+(4,5)

(1, 2, 3, 4, 5)

In [19]:
('foo','bar')*2

('foo', 'bar', 'foo', 'bar')

In [21]:
a,b=nested_tuple
a,b

([1, 2, 3, 4, 4, 4, 4], [1, 3])

In [23]:
(a,b,c,d,e,f,g),(h,i)=nested_tuple
a,b,c,d,e,f,g,h,i

(1, 2, 3, 4, 4, 4, 4, 1, 3)

In [27]:
seq =[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print(a,b,c)

1 2 3
4 5 6
7 8 9


### list

A list is a one dimensional, variable-length, mutable sequence.

In [28]:
list_1=[1,2,3]
list_1

[1, 2, 3]

In [29]:
type(list_1)

list

In [44]:
nested_list=[(1,2,3),[4,5]]
nested_list

[(1, 2, 3), [4, 5]]

In [45]:
nested_list[1]

[4, 5]

In [46]:
nested_list[1].append(6)
nested_list

[(1, 2, 3), [4, 5, 6]]

In [47]:
nested_list.append(7)
nested_list

[(1, 2, 3), [4, 5, 6], 7]

In [48]:
nested_list.insert(0,'start')
nested_list

['start', (1, 2, 3), [4, 5, 6], 7]

In [49]:
nested_list.insert(4,'stop')
nested_list

['start', (1, 2, 3), [4, 5, 6], 7, 'stop']

In [50]:
nested_list.pop(0)
nested_list

[(1, 2, 3), [4, 5, 6], 7, 'stop']

In [51]:
nested_list.pop(3)
nested_list

[(1, 2, 3), [4, 5, 6], 7]

In [52]:
nested_list.remove((1,2,3))
nested_list

[[4, 5, 6], 7]

In [54]:
7 in nested_list

True

In [55]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [59]:
nested_list.extend([8,9,10])
nested_list

[[4, 5, 6], 7, 8, 9, 10]

### dict

In [61]:
dict_1={'a':'foo',
       'b': [1,2,3,4]}
dict_1

{'a': 'foo', 'b': [1, 2, 3, 4]}

In [62]:
dict_1['b']

[1, 2, 3, 4]

In [77]:
dict_1[5]="bar"
dict_1

{'a': 'foo', 'b': [1, 2, 3, 4], 5: 'bar'}

In [78]:
5 in dict_1

True

In [79]:
dict_2=dict(dict_1)
del dict_2[5]
dict_1

{'a': 'foo', 'b': [1, 2, 3, 4], 5: 'bar'}

In [80]:
value=dict_2.pop('b')
print(value)
print(dict_2)

[1, 2, 3, 4]
{'a': 'foo'}

In [82]:
value=dict_2.get('z',2)
value

2

In [86]:
print(hash('string'))
print(hash((1,2,3,(4,5))))

2881808478772730511
-325972594757234431

In [87]:
dict_1.keys()

dict_keys(['a', 'b', 5])

In [88]:
dict_1.values()

dict_values(['foo', [1, 2, 3, 4], 'bar'])

In [99]:
for key ,value in dict_1.items():
    print (key ,value)

a foo
b [1, 2, 3, 4]
5 bar

In [100]:
dict_1.update({'e':'elephant','f':'fish'})
dict_1

{'a': 'foo', 'b': [1, 2, 3, 4], 5: 'bar', 'e': 'elephant', 'f': 'fish'}

In [104]:
mapping = dict(zip(range(7),reversed(range(7))))
mapping

{0: 6, 1: 5, 2: 4, 3: 3, 4: 2, 5: 1, 6: 0}

## SET

In [105]:
set_1=set([0,1,2,3,4,5,6])
set_1

{0, 1, 2, 3, 4, 5, 6}

In [106]:
set_2={1,4,5,7,9,12,14}
set_2

{1, 4, 5, 7, 9, 12, 14}

In [108]:
set_1|set_2

{0, 1, 2, 3, 4, 5, 6, 7, 9, 12, 14}

In [109]:
set_1 & set_2

{1, 4, 5}

In [110]:
set_1 - set_2

{0, 2, 3, 6}

In [111]:
set_1^set_2

{0, 2, 3, 6, 7, 9, 12, 14}

In [127]:
set_3={1,2,3}
set_3.issubset(set_2)

False

In [129]:
set_2.issuperset(set_3)

False

In [130]:
{1,2,3}=={1,2,3}

True